Node-Red Flows/flows-mapa.json
[
    {
        "id": "dbb7ccc192a39d7a",
        "type": "tab",
        "label": "Flow - Mateus Rosario - Mapa",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ed9762cf4471d73a",
        "type": "http response",
        "z": "dbb7ccc192a39d7a",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 2570,
        "y": 160,
        "wires": []
    },
    {
        "id": "fc7932b07edae82b",
        "type": "cloudantplus in",
        "z": "dbb7ccc192a39d7a",
        "name": "Server Conection",
        "cloudant": "0567b556728b86f6",
        "database": "mateusrosario",
        "service": "_ext_",
        "search": "_all_",
        "design": "",
        "index": "",
        "x": 2330,
        "y": 160,
        "wires": [
            [
                "ed9762cf4471d73a"
            ]
        ]
    },
    {
        "id": "ef30bba617e1d117",
        "type": "http in",
        "z": "dbb7ccc192a39d7a",
        "name": "",
        "url": "dados",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 2070,
        "y": 160,
        "wires": [
            [
                "fc7932b07edae82b"
            ]
        ]
    },
    {
        "id": "a83c815f992d7419",
        "type": "cloudantplus out",
        "z": "dbb7ccc192a39d7a",
        "name": "",
        "cloudant": "3f7137731a557ae3",
        "database": "mateusrosariolocals",
        "service": "_ext_",
        "payonly": true,
        "operation": "insert",
        "x": 500,
        "y": 300,
        "wires": [
            [
                "c0ad6e63f0bf5eef",
                "8db4abf29fd9c7cc"
            ]
        ]
    },
    {
        "id": "fe9cc62caf340843",
        "type": "cloudantplus in",
        "z": "dbb7ccc192a39d7a",
        "name": "mateusrosariolocals",
        "cloudant": "3f7137731a557ae3",
        "database": "mateusrosariolocals",
        "service": "_ext_",
        "search": "_all_",
        "design": "",
        "index": "",
        "x": 500,
        "y": 140,
        "wires": [
            [
                "a2f1f417f76c4366",
                "6e9311b310c9a6cf"
            ]
        ]
    },
    {
        "id": "6fb9f2038c60098b",
        "type": "http in",
        "z": "dbb7ccc192a39d7a",
        "name": "[GET] Pega Locais",
        "url": "/mateus-locals",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 140,
        "wires": [
            [
                "fe9cc62caf340843"
            ]
        ]
    },
    {
        "id": "a2f1f417f76c4366",
        "type": "http response",
        "z": "dbb7ccc192a39d7a",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 770,
        "y": 140,
        "wires": []
    },
    {
        "id": "14d1e79012b52d15",
        "type": "http in",
        "z": "dbb7ccc192a39d7a",
        "name": "[POST] Salva Local",
        "url": "/mateus-local",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 300,
        "wires": [
            [
                "a83c815f992d7419"
            ]
        ],
        "info": "# JSON Esperado\n\n{\n  \"name\": \"name\",\n  \"capa\": \"\",\n  \"artista\": \"\",\n}"
    },
    {
        "id": "c0ad6e63f0bf5eef",
        "type": "http response",
        "z": "dbb7ccc192a39d7a",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 770,
        "y": 300,
        "wires": []
    },
    {
        "id": "d48c58ee6075516e",
        "type": "http in",
        "z": "dbb7ccc192a39d7a",
        "name": "[GET] Pega Local",
        "url": "/mateus-local",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 220,
        "wires": [
            [
                "3b47c37ef0aedbdd"
            ]
        ]
    },
    {
        "id": "5fac225bb8fa6115",
        "type": "http response",
        "z": "dbb7ccc192a39d7a",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 770,
        "y": 220,
        "wires": []
    },
    {
        "id": "3b47c37ef0aedbdd",
        "type": "cloudantplus in",
        "z": "dbb7ccc192a39d7a",
        "name": "mateusrosariolocals",
        "cloudant": "3f7137731a557ae3",
        "database": "mateusrosariolocals",
        "service": "_ext_",
        "search": "_id_",
        "design": "",
        "index": "",
        "x": 500,
        "y": 220,
        "wires": [
            [
                "5fac225bb8fa6115",
                "60fa76168841151f"
            ]
        ]
    },
    {
        "id": "6e9311b310c9a6cf",
        "type": "debug",
        "z": "dbb7ccc192a39d7a",
        "name": "Response GET personagens",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 180,
        "wires": []
    },
    {
        "id": "60fa76168841151f",
        "type": "debug",
        "z": "dbb7ccc192a39d7a",
        "name": "Response GET personagem",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 260,
        "wires": []
    },
    {
        "id": "8db4abf29fd9c7cc",
        "type": "debug",
        "z": "dbb7ccc192a39d7a",
        "name": "Response Post personagem",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 340,
        "wires": []
    },
    {
        "id": "8aceeb9005432f40",
        "type": "cloudantplus out",
        "z": "dbb7ccc192a39d7a",
        "name": "",
        "cloudant": "3f7137731a557ae3",
        "database": "mateusrosariolocals",
        "service": "_ext_",
        "payonly": true,
        "operation": "insert",
        "x": 500,
        "y": 520,
        "wires": [
            [
                "680d317b3dee1025",
                "8db29874d6b7c493"
            ]
        ]
    },
    {
        "id": "824ce0a9f95cecf4",
        "type": "http in",
        "z": "dbb7ccc192a39d7a",
        "name": "[PUT] Atualiza Local",
        "url": "/mateus-local",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 520,
        "wires": [
            [
                "8aceeb9005432f40"
            ]
        ],
        "info": "# JSON Esperado\n\n{\n  \"_id\": \"\",\n  \"_rev\": \"\",\n  \"name\": \"name\",\n  \"capa\": \"\",\n  \"artista\": \"\",\n}"
    },
    {
        "id": "680d317b3dee1025",
        "type": "http response",
        "z": "dbb7ccc192a39d7a",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 770,
        "y": 520,
        "wires": []
    },
    {
        "id": "8db29874d6b7c493",
        "type": "debug",
        "z": "dbb7ccc192a39d7a",
        "name": "Response PUT personagem",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 560,
        "wires": []
    },
    {
        "id": "41c8897aafb4baee",
        "type": "cloudantplus out",
        "z": "dbb7ccc192a39d7a",
        "name": "",
        "cloudant": "3f7137731a557ae3",
        "database": "mateusrosariolocals",
        "service": "_ext_",
        "payonly": true,
        "operation": "delete",
        "x": 500,
        "y": 740,
        "wires": [
            [
                "deaeea1bdf90db2d",
                "017dd1996c382516"
            ]
        ]
    },
    {
        "id": "ee45f77bf32367be",
        "type": "http in",
        "z": "dbb7ccc192a39d7a",
        "name": "[DELETE] Atualiza Local",
        "url": "/mateus-local",
        "method": "delete",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 740,
        "wires": [
            [
                "41c8897aafb4baee"
            ]
        ],
        "info": "# JSON Esperado\n\n{\n  \"_id\": \"\",\n  \"_rev\": \"\",\n}"
    },
    {
        "id": "deaeea1bdf90db2d",
        "type": "http response",
        "z": "dbb7ccc192a39d7a",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 770,
        "y": 740,
        "wires": []
    },
    {
        "id": "017dd1996c382516",
        "type": "debug",
        "z": "dbb7ccc192a39d7a",
        "name": "Response PUT personagem",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 780,
        "wires": []
    },
    {
        "id": "f731dcd6c1961606",
        "type": "cloudantplus out",
        "z": "dbb7ccc192a39d7a",
        "name": "",
        "cloudant": "3f7137731a557ae3",
        "database": "mateusrosariolocals",
        "service": "_ext_",
        "payonly": true,
        "operation": "insert",
        "x": 500,
        "y": 400,
        "wires": [
            [
                "c352de5639157b7e",
                "3c0d70bd61480423"
            ]
        ]
    },
    {
        "id": "a2ff57b457b85534",
        "type": "http in",
        "z": "dbb7ccc192a39d7a",
        "name": "[POST] Salva Locais",
        "url": "/mateus-locals",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 400,
        "wires": [
            [
                "fcb0574261d5befb"
            ]
        ],
        "info": "# JSON Esperado\n\n{\n  \"name\": \"name\",\n  \"capa\": \"\",\n  \"artista\": \"\",\n}"
    },
    {
        "id": "c352de5639157b7e",
        "type": "http response",
        "z": "dbb7ccc192a39d7a",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 770,
        "y": 400,
        "wires": []
    },
    {
        "id": "3c0d70bd61480423",
        "type": "debug",
        "z": "dbb7ccc192a39d7a",
        "name": "Response Post personagem",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 440,
        "wires": []
    },
    {
        "id": "fcb0574261d5befb",
        "type": "split",
        "z": "dbb7ccc192a39d7a",
        "name": "",
        "splt": ",",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 310,
        "y": 400,
        "wires": [
            [
                "f731dcd6c1961606"
            ]
        ]
    },
    {
        "id": "a50940c856866094",
        "type": "cloudantplus out",
        "z": "dbb7ccc192a39d7a",
        "name": "",
        "cloudant": "3f7137731a557ae3",
        "database": "mateusrosariolocals",
        "service": "_ext_",
        "payonly": true,
        "operation": "insert",
        "x": 500,
        "y": 640,
        "wires": [
            [
                "db3b8dc20d7eb7f8",
                "315072883ee3ce6a"
            ]
        ]
    },
    {
        "id": "bdc08f297ca56a93",
        "type": "http in",
        "z": "dbb7ccc192a39d7a",
        "name": "[PUT] Atualiza Locais",
        "url": "/mateus-locals",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 640,
        "wires": [
            [
                "6054ccfeaacd66c4"
            ]
        ],
        "info": "# JSON Esperado\n\n{\n  \"_id\": \"\",\n  \"_rev\": \"\",\n  \"name\": \"name\",\n  \"capa\": \"\",\n  \"artista\": \"\",\n}"
    },
    {
        "id": "db3b8dc20d7eb7f8",
        "type": "http response",
        "z": "dbb7ccc192a39d7a",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 770,
        "y": 640,
        "wires": []
    },
    {
        "id": "315072883ee3ce6a",
        "type": "debug",
        "z": "dbb7ccc192a39d7a",
        "name": "Response PUT personagem",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 680,
        "wires": []
    },
    {
        "id": "6054ccfeaacd66c4",
        "type": "split",
        "z": "dbb7ccc192a39d7a",
        "name": "",
        "splt": ",",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 310,
        "y": 640,
        "wires": [
            [
                "a50940c856866094"
            ]
        ]
    },
    {
        "id": "0567b556728b86f6",
        "type": "cloudantplus",
        "host": "https://apikey-v2-1jalvvifxebbrd0wyiftras1w4xeo64yt6ddm9xef5x9:e8bc0e2c82bae656c5c475889e535dcb@bbd3c0ee-d0c8-455b-bbd3-8d6d996c2c0a-bluemix.cloudantnosqldb.appdomain.cloud",
        "name": "",
        "useapikey": false
    },
    {
        "id": "3f7137731a557ae3",
        "type": "cloudantplus",
        "host": "https://apikey-v2-1ktz4lxoza3jin66m1crk4c80mcl83tih2dp98bc2hv:d22c76b55edaeea1c6aa6e6c6bdd81ec@bbd3c0ee-d0c8-455b-bbd3-8d6d996c2c0a-bluemix.cloudantnosqldb.appdomain.cloud",
        "name": "",
        "useapikey": false
    }
]